name: Terraform Deploy Grafana

on:
  workflow_dispatch:
    inputs:
      client:
        description: "Client name (vegapay, unity, ssfb, etc.)"
        required: true
        default: "vegapay"

      environment:
        description: "Environment (dev/staging/prod)"
        required: true
        default: "prod"

      service:
        description: "Service to deploy (forex, wallet, etc.)"
        required: true
        default: "forex"

jobs:
  terraform:
    name: Terraform Deploy
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: client/${{ github.event.inputs.client }}

    steps:
      # Checkout repo
      - name: Checkout Code
        uses: actions/checkout@v3

      #  Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      #  Configure AWS Credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

       #  Debug AWS Credentials
      - name: Test AWS creds
        run: aws sts get-caller-identity   

      #  Terraform Init
      - name: Terraform Init
        run: terraform init

      # Terraform Plan
      - name: Terraform Plan
        run: |
          terraform plan \
            -var "grafana_url=${{ secrets.GRAFANA_URL }}" \
            -var "grafana_auth=${{ secrets.GRAFANA_AUTH }}" \
            -var "environment=${{ github.event.inputs.environment }}" \
            -var "client=${{ github.event.inputs.client }}" \
            -var "enabled_services=[\"${{ github.event.inputs.service }}\"]"

      # Terraform Apply
      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var "grafana_url=${{ secrets.GRAFANA_URL }}" \
            -var "grafana_auth=${{ secrets.GRAFANA_AUTH }}" \
            -var "environment=${{ github.event.inputs.environment }}" \
            -var "client=${{ github.event.inputs.client }}" \
            -var "enabled_services=[\"${{ github.event.inputs.service }}\"]"

